@charset "UTF-8";

body {
    background: #edf0f1;
    padding: 0px 0 0 0;
}

input {
    font-family: 'Roboto', sans-serif;
}

header {
    position: relative;
    background-color: #25b99a;
    width: 100%;
    height: 80px;
    padding: 0 40px 0 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 2px 2px 2px grey;
}

header input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.75);
}

#item {
    width: 100%;
    position: relative;
    height: 50px;
    border: 0;
    border-radius: 5px 25px 25px 5px;
    background-color: #fff;
    background: rgba(255, 255, 255, 0.2);
    font-size: 18px;
    font-weight: 400;
    top: 15px;
    left: 15px;
    right: 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    text-indent: 18px;
    word-break: break-word;
}

#add {
    position: absolute;
    top: 15px;
    right: 15px;
    background: #fff;
    border: none;
}

button {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    cursor: pointer;
}

.noFill {
    fill: none;
}

header button SVG {
    width: 16px;
    height: 16px;
    position: absolute;
    margin: -8px 0 0 -8px;
}



header button SVG .fill {
    fill: #25b99a;

}

.toDoListContainer {
    float: left;
    width: 100%;
    padding: 0 20px 0 0;
}

.todo {
    width: 100%;
    float: left;

}

.todo li {
    min-height: 50px;
    text-indent: 18px;
    padding: 14px 100px 14px 14px;
    margin: 0 0 10px 0;
    width: 100%;

    background-color: #fff;
    position: relative;

    top: 0px;

    font-size: 14px;
    font-weight: 400;
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.10);
    color: #444;
    line-height: 22px;

}

.buttonsContainer {
    width: 100px;
    height: 45px;
    top: 2px;
    right: 15px;
    position: absolute;
}


.remove {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    top: 5px;
    position: absolute;
    right: 59px;

}

.remove SVG {
    width: 22px;
    height: 22px;
    background-color: #fff;
    border: none;
}

.complete:hover SVG {
    background-color: #25b99a;
}

.remove SVG path {
    fill: grey;
}

.remove:hover SVG path {
    fill: #e85656;
}

.complete:hover SVG {
    transition: background 0.2s ease;
    fill: 0.2s ease;
}

.remove:hover SVG {
    transition: background 0.2s ease;
    fill: 0.2s ease;
}

#toDoItem .complete:hover SVG path {
    fill: white;
}

.complete {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    top: 5px;
    position: absolute;
    right: 7px;
}

.complete SVG {
    width: 22px;
    height: 22px;
    background-color: #fff;
    border: none;
    border-radius: 11px;
    border: 1.5px solid #25b99a;

}

#toDoItem .complete SVG path {
    fill: #25b99a;

}

#completedItem .complete SVG {
    background-color: #25b99a;

}

#completedItem .complete SVG path {
    fill: #fff;

}

.complete:before {
    content: '';
    height: 30px;
    width: 1px;

    background-color: #c0cecb;
    position: absolute;
    top: 4px;
    right: 46px;
}

#toDoItem:empty:after {
    content: "You have nothing to do!";
    margin: 15px 0 0 0;

}

#completedItem:empty:after {
    content: "You have yet not completed anything"
}

#completedItem:before {
    content: "";
    width: 150px;
    height: 1px;

    position: absolute;
    top: -15px;
    left: 50%;
    margin: 0 0 0 -75px;
    background: #c0cecb;
}

#toDoItem:empty:after,
#completedItem:empty:after {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 12px;
    color: red;
}


.toDoListContainer ul {
    position: relative;
    width: 100%;

}

#completedItem {
    min-height: 50px;
    margin: 10px;
    display: block;
}


#toDoItem {
    min-height: 50px;
    margin: 10px;
    display: block;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box
}