 .filterButton {
     margin: 0 20px;
     height: 50px;
     padding: 10px;
     border: none;
 }

 .filterButton:hover {
     border: 1px solid #25b99a;
     cursor: pointer;
     border-radius: 3px;
 }


 .filterButtonsContainer {
     height: 50px;
     margin-top: 15px;
     background-color: white;
     text-align: center;
 }