
.list-container {
    transition: width 2000ms ease;
   &.short{
        width: 80%;
   } 
   .long{
        width: 100%;
   }
}

.loading-indicator{
     text-align: center;
     padding: 20px;
     font-size: 32px;
}
